@use "sass:map";

/* COR PRIMÁRIA E SUAS VARIAÇÕES: #1b2932 */
$rl-app-blue-50: #e8eaeb;
$rl-app-blue-100: #b8bdbf;
$rl-app-blue-200: #969da1;
$rl-app-blue-300: #667076;
$rl-app-blue-400: #49545b;
$rl-app-blue-500: #1b2932;
$rl-app-blue-600: #19252e;
$rl-app-blue-700: #131d24;
$rl-app-blue-800: #0f171c;
$rl-app-blue-900: #0b1115;

/* COR SECUNDÁRIA E SUAS VARIAÇÕES: #C8AD8C */
$rl-app-brown-50: #faf7f4;
$rl-app-brown-100: #eee6db;
$rl-app-brown-200: #e6d9ca;
$rl-app-brown-300: #dac8b2;
$rl-app-brown-400: #d3bda3;
$rl-app-brown-500: #C8AD8C;
$rl-app-brown-600: #b69d7f;
$rl-app-brown-700: #8e7b63;
$rl-app-brown-800: #6e5f4d;
$rl-app-brown-900: #54493b;

$rl-app-brown-variant-1: rgba(230, 217, 202, 0.5);
$rl-app-brown-variant-2: rgba(84, 73, 59, 0.5);

/* CORES BÁSICAS E SUAS VARIAÇÕES, #808080, #FFF, #000 */
$rl-app-grey-50: #f2f2f2;
$rl-app-grey-100: #d8d8d8;
$rl-app-grey-200: #c5c5c5;
$rl-app-grey-300: #aaaaaa;
$rl-app-grey-400: #999999;
$rl-app-grey-500: #808080;
$rl-app-grey-600: #747474;
$rl-app-grey-700: #5b5b5b;
$rl-app-grey-800: #464646;
$rl-app-grey-900: #363636;

$rl-app-white: #fff;
$rl-app-white-10: rgba(255, 255, 255, 0.1);
$rl-app-white-20: rgba(255, 255, 255, 0.2);
$rl-app-white-30: rgba(255, 255, 255, 0.3);
$rl-app-white-40: rgba(255, 255, 255, 0.4);
$rl-app-white-50: rgba(255, 255, 255, 0.5);
$rl-app-white-60: rgba(255, 255, 255, 0.6);
$rl-app-white-70: rgba(255, 255, 255, 0.7);
$rl-app-white-80: rgba(255, 255, 255, 0.8);
$rl-app-white-90: rgba(255, 255, 255, 0.9);

$rl-app-black: #000;
$rl-app-black-10: rgba(0, 0, 0, 0.1);
$rl-app-black-20: rgba(0, 0, 0, 0.2);
$rl-app-black-30: rgba(0, 0, 0, 0.3);
$rl-app-black-40: rgba(0, 0, 0, 0.4);
$rl-app-black-50: rgba(0, 0, 0, 0.5);
$rl-app-black-60: rgba(0, 0, 0, 0.6);
$rl-app-black-70: rgba(0, 0, 0, 0.7);
$rl-app-black-80: rgba(0, 0, 0, 0.8);
$rl-app-black-90: rgba(0, 0, 0, 0.9);

/* SIZES BASE */
$rl-app-size-0: 0;
$rl-app-size-1: 2;
$rl-app-size-2: 4;
$rl-app-size-3: 6;
$rl-app-size-4: 8;
$rl-app-size-5: 10;
$rl-app-size-6: 12;
$rl-app-size-7: 14;
$rl-app-size-8: 16;
$rl-app-size-9: 18;
$rl-app-size-10: 20;
$rl-app-size-11: 22;
$rl-app-size-12: 24;
$rl-app-size-13: 26;
$rl-app-size-14: 28;
$rl-app-size-15: 30;
$rl-app-size-16: 32;
$rl-app-size-17: 34;
$rl-app-size-18: 36;
$rl-app-size-19: 38;
$rl-app-size-20: 40;
$rl-app-size-full: 100;

/* FONT-SIZES */
$rl-app-desktop-fs-xxs: #{$rl-app-size-4}px;
$rl-app-desktop-fs-xs: #{$rl-app-size-5}px;
$rl-app-desktop-fs-sm: #{$rl-app-size-6}px;
$rl-app-desktop-fs-md: #{$rl-app-size-7}px;
$rl-app-desktop-fs-xm: #{$rl-app-size-8}px;
$rl-app-desktop-fs-lg: #{$rl-app-size-9}px;
$rl-app-desktop-fs-xl: #{$rl-app-size-10}px;
$rl-app-desktop-fs-xxl: #{$rl-app-size-11}px;
$rl-app-desktop-fs-h4: #{$rl-app-size-12}px;
$rl-app-desktop-fs-h3: #{$rl-app-size-13}px;
$rl-app-desktop-fs-h2: #{$rl-app-size-14}px;
$rl-app-desktop-fs-h1: #{$rl-app-size-16}px;

/* BORDER-RADIUS */
$rl-app-br-full: #{$rl-app-size-full}px;

$rl-app-desktop-br-sm: #{$rl-app-size-2}px;
$rl-app-desktop-br-md: #{$rl-app-size-4}px;
$rl-app-desktop-br-lg: #{$rl-app-size-6}px;
$rl-app-desktop-br-xl: #{$rl-app-size-8}px;

$rl-app-mobile-br-sm: #{$rl-app-size-1}px;
$rl-app-mobile-br-md: #{$rl-app-size-3}px;
$rl-app-mobile-br-lg: #{$rl-app-size-5}px;
$rl-app-mobile-br-xl: #{$rl-app-size-7}px;

/* DEPOIS PASSAR AS VARIÁVEIS PARA O ARQUIVO _VARIABLES.SCSS */
// Mapa das cores do projeto, só um exemplo simplificado
$colors: (
  "blue-50": #e8eaeb,
  "blue-100": #b8bdbf,
  "blue-200": #969da1,
  "blue-300": #667076,
  "blue-400": #49545b,
  "blue-500": #1b2932,
  "blue-600": #19252e,
  "blue-700": #131d24,
  "blue-800": #0f171c,
  "blue-900": #0b1115,

  "brown-50": #faf7f4,
  "brown-100": #eee6db,
  "brown-200": #e6d9ca,
  "brown-300": #dac8b2,
  "brown-400": #d3bda3,
  "brown-500": #C8AD8C,
  "brown-600": #b69d7f,
  "brown-700": #8e7b63,
  "brown-800": #6e5f4d,
  "brown-900": #54493b,
  "brown-op-1-10": rgba(200, 173, 140, 0.1),
  "brown-op-2-10": rgba(84, 73, 59, 0.1),

  "grey-50": #f2f2f2,
  "grey-100": #d8d8d8,
  "grey-200": #c5c5c5,
  "grey-300": #aaaaaa,
  "grey-400": #999999,
  "grey-500": #808080,
  "grey-600": #747474,
  "grey-700": #5b5b5b,
  "grey-800": #464646,
  "grey-900": #363636,

  "white": #fff,
  "white-10": rgba(255, 255, 255, 0.1),
  "white-20": rgba(255, 255, 255, 0.2),
  "white-30": rgba(255, 255, 255, 0.3),
  "white-40": rgba(255, 255, 255, 0.4),
  "white-50": rgba(255, 255, 255, 0.5),
  "white-60": rgba(255, 255, 255, 0.6),
  "white-70": rgba(255, 255, 255, 0.7),
  "white-80": rgba(255, 255, 255, 0.8),
  "white-90": rgba(255, 255, 255, 0.9),

  "black": #000,
  "black-10": rgba(0, 0, 0, 0.1),
  "black-20": rgba(0, 0, 0, 0.2),
  "black-30": rgba(0, 0, 0, 0.3),
  "black-40": rgba(0, 0, 0, 0.4),
  "black-50": rgba(0, 0, 0, 0.5),
  "black-60": rgba(0, 0, 0, 0.6),
  "black-70": rgba(0, 0, 0, 0.7),
  "black-80": rgba(0, 0, 0, 0.8),
  "black-90": rgba(0, 0, 0, 0.9),

  "gradient-light-linear-1": linear-gradient(to bottom right, #fff, #e8eaeb, #fff, #e8eaeb, #fff),
  "gradient-dark-radial-1": radial-gradient(circle at top left, #0b1115, #0f171c, #131d24, #0f171c, #0b1115),
);

// Definição do tema light
$theme-light: (
/* BACKGROUNDS */
  "bg-solid-blue-1": map.get($colors, "blue-50"),
  "bg-solid-blue-2": map.get($colors, "blue-500"),
  "bg-solid-blue-3": map.get($colors, "blue-200"),
  "bg-solid-blue-4": map.get($colors, "blue-50"),
  "bg-gradient-1": map.get($colors, "gradient-light-linear-1"),
  "bg-solid-input-1": map.get($colors, "white"),
  "bg-solid-input-2": map.get($colors, "blue-50"),
  "bg-solid-dropdown-item-hover-1": map.get($colors, "blue-50"),
  "bg-solid-card-hover-1": map.get($colors, "blue-100"),
  "bg-solid-brown-1": map.get($colors, "brown-100"),
  "bg-opacity-1": map.get($colors, "brown-op-1-10"),

/* BORDERS */
  "br-solid-blue-1": map.get($colors, "blue-200"),
  "br-solid-blue-2": map.get($colors, "blue-900"),
  "br-solid-brown": map.get($colors, "brown-500"),
  "br-solid-input-focus-1": map.get($colors, "blue-100"),
  "br-solid-input-1": map.get($colors, "blue-50"),
  "br-solid-tag-1": map.get($colors, "blue-500"),
  "br-solid-header-page": map.get($colors, "black-10"),

/* BOX SHADOW */
  "bs-solid-blue-1": map.get($colors, "blue-100"),
  "bs-solid-black-1": map.get($colors, "black-30"),

/* COLORS */
  "color-solid-blue-1": map.get($colors, "blue-900"),
  "color-solid-blue-2": map.get($colors, "blue-500"),
  "color-solid-blue-3": map.get($colors, "blue-50"),
  "color-solid-brown-1": map.get($colors, "brown-900"),
  "color-solid-brown-2": map.get($colors, "brown-500"),
  "color-solid-brown-3": map.get($colors, "brown-500"),
  "color-solid-brown-4": map.get($colors, "brown-700"),
  "color-solid-input-1": map.get($colors, "blue-500"),
);

$theme-dark: (
/* BACKGROUNDS */
  "bg-solid-blue-1": map.get($colors, "blue-900"),
  "bg-solid-blue-2": map.get($colors, "blue-700"),
  "bg-solid-blue-3": map.get($colors, "blue-500"),
  "bg-solid-blue-4": map.get($colors, "blue-700"),
  "bg-gradient-1": map.get($colors, "gradient-dark-radial-1"),
  "bg-solid-input-1": map.get($colors, "blue-900"),
  "bg-solid-input-2": map.get($colors, "blue-500"),
  "bg-solid-dropdown-item-hover-1": map.get($colors, "blue-500"),
  "bg-solid-card-hover-1": map.get($colors, "blue-500"),
  "bg-solid-brown-1": map.get($colors, "brown-900"),
  "bg-opacity-1": map.get($colors, "brown-op-2-10"),

/* BORDERS */
  "br-solid-blue-1": map.get($colors, "blue-500"),
  "br-solid-blue-2": map.get($colors, "blue-50"),
  "br-solid-brown": map.get($colors, "brown-500"),
  "br-solid-brown-1": map.get($colors, "brown-100"),
  "br-solid-input-focus-1": map.get($colors, "blue-400"),
  "br-solid-input-1": map.get($colors, "blue-500"),
  "br-solid-tag-1": map.get($colors, "blue-50"),
  "br-solid-header-page": map.get($colors, "white-10"),

/* BOX SHADOW */
  "bs-solid-blue-1": map.get($colors, "blue-900"),
  "bs-solid-black-1": map.get($colors, "black-50"),

/* COLORS */
  "color-solid-blue-1": map.get($colors, "blue-50"),
  "color-solid-blue-2": map.get($colors, "blue-100"),
  "color-solid-blue-3": map.get($colors, "blue-100"),
  "color-solid-brown-1": map.get($colors, "brown-50"),
  "color-solid-brown-2": map.get($colors, "brown-600"),
  "color-solid-brown-3": map.get($colors, "brown-500"),
  "color-solid-brown-4": map.get($colors, "brown-500"),
  "color-solid-input-1": map.get($colors, "blue-50"),
);

// Função para gerar as variáveis CSS de um tema
@mixin generate-css-vars($theme-map) {
  @each $name, $color in $theme-map {
    --#{$name}: #{$color};
  }
}

:root {
  @include generate-css-vars($theme-light);
}

[data-theme='dark'] {
  @include generate-css-vars($theme-dark);
}