@use "variables" as *;
@use "utilities" as *;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $rl-app-brown-500 $rl-app-brown-50;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $rl-app-brown-50;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $rl-app-brown-500;
    border-radius: 6px;
    border: 3px solid $rl-app-brown-200;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $rl-app-brown-900;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background: var(--bg-gradient-1);
  color: var(--color-solid-blue-1);
  min-height: 100dvh;

  &.modal-open {
    overflow: hidden;
  }

  #__nuxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
    background: var(--background-gradient-primary);
    min-height: 100vh;
    overflow: auto;

    main {
      background-blend-mode: overlay;
      flex: 1;
      width: 100%;
      position: relative;
    }
  }
}

@media (max-width: 600px) {
  html,
  body {
    #__nuxt {
      main {
        padding-top: 98px;

        .content {
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 12px 12px 80px 12px;
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  html,
  body {
    #__nuxt {
      main {
        .content {
          width: 80%;
          padding: 12px 12px 80px 12px;
        }
      }
    }
  }
}
