@import "variables.scss";

.list-certs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card-link {
    position: relative;
    display: block;
    flex: 1 1 240px;
    width: 240px;
    border: 1px solid $rl-app-grey-100;
    border-radius: $rl-app-desktop-br-sm;
    cursor: pointer;
    box-shadow: 0 0 8px $rl-app-grey-100;
    transition: all 250ms linear;
    text-decoration: none;
    background-color: $rl-app-white;
    color: $rl-app-blue-500;
    flex-grow: 0;

    img {
      width: 100%;
      border-radius: $rl-app-desktop-br-sm $rl-app-desktop-br-sm 0 0;
    }

    .card-l-text {
      padding: 6px 10px;

      .card-l-title {
        font-size: $rl-app-desktop-fs-md;
        font-weight: 300;
      }

      .card-l-subtitle {
        font-size: $rl-app-desktop-fs-xxs;
        color: $rl-app-grey-500;
        font-weight: 600;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 4px;
        padding: 6px 0;

        .tag {
          text-wrap: nowrap;
          font-size: $rl-app-desktop-fs-xxs;
          font-weight: 600;
          padding: 2px 4px;
          border-radius: $rl-app-desktop-br-sm;

          &.default-app {
            color: $rl-app-blue-100;
            border: 1px solid $rl-app-blue-100;
            background-color: $rl-app-blue-500;
          }
        }
      }
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px 8px $rl-app-grey-300;
    }
  }
}

@media (max-width: 600px) {
  .list-certs {
    gap: 8px;

    .card-link {
      flex: 1 1 calc(50% - 8px);
      max-width: calc(50% - 8px);

      img {
        width: 100%;
        border-radius: $rl-app-desktop-br-sm $rl-app-desktop-br-sm 0 0;
      }

      .card-l-text {
        padding: 4px 6px;

        .card-l-title {
          font-size: $rl-app-desktop-fs-xxs;
          font-weight: 400;
        }

        .card-l-subtitle {
          font-size: $rl-app-desktop-fs-xxs;
          color: $rl-app-grey-500;
          font-weight: lighter;
        }
      }

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px $rl-app-grey-300;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .list-certs {
    gap: 6px;

    .card-link {
      flex: 1 1 calc(33% - 8px);
      max-width: calc(33% - 8px);

      .card-l-text {
        padding: 4px 6px;

        .card-l-title {
          font-size: $rl-app-desktop-fs-xs;
        }

        .card-l-subtitle {
          font-size: $rl-app-desktop-fs-xs;
        }
      }
    }
  }
}