@import "variables.scss";

.card-experience {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 10px 10px;
  position: relative;
  gap: 10px;

  &:first-child {
    border-radius: $rl-app-desktop-br-md $rl-app-desktop-br-md 0 0;
  }

  &:last-child {
    border-radius: 0 0 $rl-app-desktop-br-md $rl-app-desktop-br-md;
  }

  .title-card-experience {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    color: $rl-app-blue-500;
    top: 15px;
    left: 50%;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateX(-50%);

    .divisor {
      flex-grow: 1;
      height: 1px;
      background-color: $rl-app-blue-100;
    }
  }
}

.trajectory {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
  position: relative;

  .trail {
    position: absolute;
    height: 100%;
    width: 10px;
    background-image:
            linear-gradient(to bottom, $rl-app-brown-variant-2, $rl-app-brown-variant-1),
            url('../../public/images/CircuitOne.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    left: 50%;
    transform: translateX(-50%);
  }

  .item-trajectory {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .pointer-time, .pointer-end {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: $rl-app-brown-900;
      font-weight: 800;
      background-color: $rl-app-brown-500;
      left: 50%;
      transform: translateX(-50%);
    }

    .pointer-time {
      top: -25px;
    }

    .pointer-end {
      bottom: -25px;
    }

    .left-side {
      max-width: 49%;
      height: 100%;
      flex-grow: 1;
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 15px 15px 0;
    }

    .right-side {
      max-width: 49%;
      height: 100%;
      flex-grow: 1;
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0 15px 15px;
    }

    .right-side, .left-side {
      &.html-side {
        min-height: 280px;
        background-color: $rl-app-blue-500;
        border-radius: $rl-app-desktop-br-md;
        padding: 15px !important;
        display: flex;
        flex-direction: column;

        .resume-year {
          .resume-images {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            flex-wrap: wrap;
            gap: 8px;

            .resume-image {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid $rl-app-blue-200;
              height: 60px;
              min-width: 60px;
              transition: all 350ms ease-in-out;
              cursor: pointer;
              padding: 4px;
              border-radius: $rl-app-desktop-br-md;

              &:hover {
                background-color: $rl-app-blue-900;
                border-color: $rl-app-blue-50;
              }
            }
          }

          .resume-links {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 10px;

            .links-title {
              color: $rl-app-blue-50;
              display: flex;
              justify-content: start;
              align-items: center;
              width: 100%;
              gap: 10px;

              .divisor {
                width: 100%;
                height: 1px;
                background-color: $rl-app-blue-50;
              }
            }

            .resume-link {
              color: $rl-app-blue-100;
              transition: color 350ms ease-in-out;

              &:hover {
                color: $rl-app-white;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .trajectory {
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-left: 20px;

    .trail {
      left: 6px;
      width: 6px;
      transform: none;
    }

    .item-trajectory {
      gap: 4px;
      padding: 12px 0;
      flex-direction: column;
      border-bottom: 2px solid $rl-app-brown-200;
      border-top: 2px solid $rl-app-brown-200;

      &:nth-child(odd) {
        flex-direction: column-reverse;
      }

      .pointer-time, .pointer-end {
        left: -25px;
        transform: none;
        width: 35px;
        height: 35px;
        font-size: $rl-app-desktop-fs-sm;
      }

      .pointer-time {
        top: -24px;

        &.first-pointer {
          top: -15px !important;
        }
      }

      .pointer-end {
        bottom: -24px;
      }

      .left-side {
        padding: 8px 0 8px 0;
      }

      .right-side {
        padding: 8px 0 8px 0;
      }

      .right-side, .left-side {
        width: 100% !important;
        max-width: 100% !important;
        font-size: $rl-app-desktop-fs-sm;

        &.html-side {
          min-height: 150px;
          padding: 8px !important;
          width: 100%;
          display: flex !important;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          border-radius: $rl-app-desktop-br-sm;
          gap: 4px;

          .resume-year {
            height: 100%;

            &:first-child {
              width: 65%;
            }

            .resume-images {
              margin-bottom: 0;
              gap: 4px;

              .resume-image {
                height: 25px;
                width: 25px;
                min-width: auto !important;
                padding: 2px;
                border-radius: $rl-app-desktop-br-sm;
                border-width: 0.5px;
              }
            }

            .resume-links {
              gap: 8px;
              border-left: 1px solid $rl-app-blue-50;
              padding-left: 6px;

              .links-title {
                font-size: $rl-app-desktop-fs-sm;
                gap: 6px;

                .divisor {
                  display: none;
                }
              }

              .resume-link {
                color: $rl-app-blue-100;
                transition: color 350ms ease-in-out;

                &:hover {
                  color: $rl-app-white;
                }
              }
            }
          }
        }
      }
    }
  }

  .card-experience {
    padding-top: 20px;
    border-left: 1px solid $rl-app-blue-500;
    border-right: 1px solid $rl-app-blue-500;
    border-bottom: 1px solid $rl-app-blue-500;
    margin-top: 20px;
    background-color: $rl-app-blue-50;

    &:first-child {
      margin-top: 0;
      border-radius: $rl-app-desktop-br-sm $rl-app-desktop-br-sm 0 0;
    }

    &:last-child {
      border-radius: 0 0 $rl-app-desktop-br-sm $rl-app-desktop-br-sm;
    }

    .title-card-experience {
      font-size: $rl-app-desktop-fs-sm;
      top: -8px;
      gap: 4px;

      .divisor {
        background-color: $rl-app-blue-500;
      }
    }
  }
}