@use "variables" as *;

.star-brown {
  color: var(--color-solid-brown-2);
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  .title-about-me {
    font-size: $rl-app-desktop-fs-h3;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle-about-me {
    font-size: $rl-app-desktop-fs-xl;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .text-about-me {
    font-size: $rl-app-desktop-fs-lg;
    font-weight: 200;
    word-spacing: 4px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: justify;
  }
}

.hard-skills {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .list-hs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 12px;

    .item-hs {
      display: flex;
      gap: 10px;
      justify-content: start;
      align-items: center;
      min-width: 200px;

      img {
        height: 50px;
      }

      .text-hs {
        .title-hs, .subtitle-hs {
          text-wrap: nowrap;
        }

        .subtitle-hs {
          .material-icons {
            font-size: 14px;
            color: var(--color-solid-brown-2);
          }
        }
      }
    }
  }
}

.certifications {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .list-certificates {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;

    .item-certificate {
      cursor: pointer;
      width: 290px;
      background-color: var(--bg-solid-blue-1);
      border-radius: 6px;
      box-shadow: 4px 4px 8px var(--bs-solid-blue-1);
      transition: transform 300ms ease;

      img {
        border-radius: 6px 6px 0 0;
        height: 200px;
      }

      .footer-certificate {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 6px 12px;

        .title-certificate {
          text-align: justify;
          text-transform: capitalize;
          font-size: $rl-app-desktop-fs-md;
          word-spacing: 2px;
        }

        .subtitle-certificate {
          font-size: $rl-app-desktop-fs-sm;
        }
      }

      &:hover {
        transform: scale(1.01)
      }
    }
  }
}

@media (max-width: 600px) {

  .hard-skills {
    gap: 10px;

    .list-hs {
      gap: 8px;

      .item-hs {
        gap: 8px;
        min-width: 160px;

        img {
          height: 40px;
        }

        .text-hs {
          .subtitle-hs {
            .material-icons {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .certifications {
    gap: 10px;

    .list-certificates {
      gap: 6px;

      .item-certificate {

        img {
          height: 160px;
        }

        .footer-certificate {
          .title-certificate {
            font-size: $rl-app-desktop-fs-sm;
          }

          .subtitle-certificate {
            font-size: $rl-app-desktop-fs-xs;
          }
        }
      }
    }
  }

  .about-me {
    .title-about-me {
      font-size: $rl-app-desktop-fs-xl;
    }

    .subtitle-about-me {
      font-weight: 300;
      font-size: $rl-app-desktop-fs-md;
    }

    .text-about-me {
      font-size: $rl-app-desktop-fs-md;
    }
  }
}