@import "variables";

.title-section {
  display: block;
  color: $rl-app-brown-500;
  width: 100%;
  font-size: $rl-app-desktop-fs-xxl;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

section {
  &.section-default {
    display: block;
    padding: 14px 22px;
    width: 100%;
  }
}

.app-card {
  width: 100%;

  .card-body {
    font-size: $rl-app-desktop-fs-xm;
    text-align: justify;
  }
}

.badge-xxl {
  height: 40px;
  min-width: 180px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: $rl-app-desktop-br-sm;
  text-transform: uppercase;
  font-size: $rl-app-desktop-fs-md;
  font-weight: 600;
  padding-right: 15px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    border-bottom-left-radius: $rl-app-desktop-br-sm;
    border-top-left-radius: $rl-app-desktop-br-sm;
  }

  &.badge-blue-dark {
    background-color: $rl-app-blue-500;
    color: $rl-app-blue-50;

    .icon {
      background-color: $rl-app-blue-900;
    }
  }

  &.badge-blue-dark-2 {
    background-color: $rl-app-blue-800;
    color: $rl-app-blue-100;

    .icon {
      background-color: $rl-app-blue-500;
    }
  }

  &.badge-brown-dark {
    background-color: $rl-app-brown-500;
    color: $rl-app-brown-50;

    .icon {
      background-color: $rl-app-brown-900;
    }
  }
}

.badge-xs {
  background-color: $rl-app-blue-500;
  border-radius: 20px 100px 100px 20px;
  display: flex;
  width: min-content;
  border: 2px solid $rl-app-blue-500;
  font-size: 8px;
  text-wrap: nowrap;

  img {
    min-width: 12px;
    margin-left: 2px;
  }

  .badge-title {
    padding: 2px 4px;
    color: $rl-app-white;
    font-weight: bold;
  }

  .badge-version {
    padding: 2px 4px;
    background-color: $rl-app-white;
    color: $rl-app-blue-500;
    font-weight: bold;
    border-radius: 4px 100px 100px 4px;
  }
}

.app-w100 {
  width: 100%;
}

.btn-primary {
  background-color: $rl-app-blue-500;
  color: $rl-app-blue-50;
  border-radius: $rl-app-desktop-br-sm;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  font-size: $rl-app-desktop-fs-md;
  font-weight: 600;

  &:disabled {
    cursor: not-allowed;
    background-color: $rl-app-blue-300;
  }

  &:hover {
    background-color: $rl-app-blue-700;
    box-shadow: 2px 2px 6px $rl-app-blue-200;
  }
}

/* FLEXBOX & GRID */
.app-flex {
  display: flex;
}
.app-flex-direction-column {
  flex-direction: column;
}
.app-justify-content-center {
  justify-content: center;
}
.app-justify-content-space-between {
  justify-content: space-between;
}
.app-justify-content-space-around {
  justify-content: space-around;
}
.app-justify-content-space-evenly {
  justify-content: space-evenly;
}
.app-justify-content-start {
  justify-content: start;
}
.app-justify-content-end {
  justify-content: end;
}
.app-align-items-center {
  align-items: center;
}
.app-align-items-start {
  align-items: start;
}
.app-align-items-end {
  align-items: end;
}
.app-flex-wrap {
  flex-wrap: wrap;
  gap: 10px;
}

/* FONT COLORS */
.font-color-brown-900 {
  color: $rl-app-brown-900 !important;
}

.divisor-vertical {
  display: block;
  width: 1px;
  height: 100%;
  background-color: $rl-app-blue-50;
}

/* OTHERS */
.app-mt-2 {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .title-section {
    font-size: $rl-app-desktop-fs-xm;
    margin-bottom: 10px;
  }

  section {
    &.section-default {
      padding: 0;
    }
  }

  .app-card {
    .card-body {
      font-size: $rl-app-desktop-fs-sm;
      text-align: justify;
    }
  }

  .badge-xxl {
    min-width: 100px;
    height: 30px;
    gap: 6px;
    border-radius: $rl-app-desktop-br-sm;
    text-transform: uppercase;
    font-size: $rl-app-desktop-fs-xs;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .title-section {
    font-size: $rl-app-desktop-fs-xl;
    margin-bottom: 16px;
  }

  section {
    &.section-default {
      padding: 0;
    }
  }

  .app-card {
    .card-body {
      font-size: $rl-app-desktop-fs-md;
      text-align: justify;
    }
  }

  .badge-xxl {
    flex: 1 1 calc(33% - 10px);
    max-width: calc(33% - 10px);
    gap: 4px;

    &.default {
      font-size: $rl-app-desktop-fs-sm;

      .icon {
        width: 35px;
        height: 100%;

        img {
          width: 14px;
        }
      }
    }
  }
}