@use "variables" as *;

/* ======================== UTILITIES ============================= */

/* MARGIN: BOTTOM, TOP, LEFT, RIGHT */
@for $i from 0 through 5 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
}

/* PADDING: BOTTOM, TOP, LEFT, RIGHT */
@for $i from 0 through 5 {
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .ptb-#{$i} {
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }

  .plr-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem;
  }
}

/* text */

.text {
  @for $i from 1 through 25 {
    &--size-#{$i*2}px {
      font-size: #{$i*2}px;
    }
  }

  &--bold {
    font-weight: bold;
  }
  &--weight-700 {
    font-weight: 700;
  }
  &--bolder {
    font-weight: bolder;
  }
  &--lighter {
    font-weight: lighter;
  }

  &--uppercase {
    text-transform: uppercase;
  }
  &--lowercase {
    text-transform: lowercase;
  }
  &--capitalize {
    text-transform: capitalize;
  }

  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--justify {
    text-align: justify;
  }

  &--brown-500 {
    color: var(--color-solid-brown-2);
  }

  &--nowrap {
    text-wrap: nowrap;
  }

  &--ellipsis {
    text-overflow: ellipsis;
  }


  @for $ls from 0 through 10 {
    &--letter-spacing-#{$ls}px {
      letter-spacing: #{$ls}px;
    }
  }

  @for $ws from 0 through 10 {
    &--word-spacing-#{$ws}px {
      word-spacing: #{$ws}px;
    }
  }

  @for $lh from 0 through 25 {
    &--line-height-#{$lh}px {
      line-height: #{$lh}px;
    }
  }
}

/* BORDERS */
.border {
  @for $i from 0 through 5 {
    &--width-#{$i} {
      border-width: #{$i}px;
    }
  }

  &--primary {
    border-color: var(--br-solid-blue-1);
  }

  &--secondary {
    border-color: var(--br-solid-brown);
  }

  &--solid {
    border-style: solid;
  }
}

/* DISPLAYS */
.d-flex {
  display: flex;

  &--justify-center {
    justify-content: center;
  }
  &--justify-between {
    justify-content: space-between;
  }
  &--justify-start {
    justify-content: start;
  }
  &--justify-end {
    justify-content: start;
  }
  &--justify-around {
    justify-content: space-around;
  }
  &--justify-evenly {
    justify-content: space-evenly;
  }
  &--align-center {
    align-items: center;
  }
  &--align-start {
    align-items: start;
  }
  &--align-end {
    align-items: end;
  }
  &--column {
    flex-direction: column;
  }
  &--wrap {
    flex-wrap: wrap;
  }

  @for $i from 1 through 25 {
    &--gap-#{2 * $i}px {
      gap: #{2 * $i}px;
    }
  }
}

.bg-solid-blue-1 {
  background: var(--bg-solid-blue-1);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-solid-brown-4);
}

.title-sm {
  font-size: $rl-app-desktop-fs-lg;
  color: var(--color-solid-brown-4);
  font-weight: bold;
}

.overflow {
  &--auto {
    overflow: auto;
  }
  &--scroll {
    overflow: scroll;
  }
  &--hidden {
    overflow: hidden;
  }

  &--x-hidden {
    overflow-x: hidden;
  }
  &--x-scroll {
    overflow-x: scroll;
  }
  &--x-auto {
    overflow-x: auto;
  }

  &--y-hidden {
    overflow-y: hidden;
  }
  &--y-scroll {
    overflow-y: scroll;
  }
  &--y-auto {
    overflow-y: auto;
  }
}

.cursor {

  &--pointer {
    cursor: pointer;
  }
}

.col-4 {
  width: 33%;
}

.form-filters {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 12px;

  .form-filter {
    position: relative;

    .form-input {
      background-color: var(--bg-solid-input-1);
      color: var(--color-solid-input-1);
      position: relative;
      width: 100%;
      min-height: 40px;
      padding: 8px 16px;
      border-radius: $rl-app-desktop-br-sm;
      font-size: $rl-app-desktop-fs-sm;
      outline: none;
      transition: all 250ms ease-in-out;
      box-shadow: 1px 1px 2px var(--bs-solid-blue-1);
      border: 1px solid var(--br-solid-input-1);

      &:focus {
        border: 1px solid var(--br-solid-input-focus-1);
        box-shadow: 3px 3px 6px var(--bs-solid-blue-1);
      }
    }

    .dropdown-container {
      background-color: var(--bg-solid-input-1);
      color: var(--color-solid-input-1);
      position: relative;
      border-radius: $rl-app-desktop-br-sm;
      box-shadow: 1px 1px 2px var(--bs-solid-blue-1);

      .input-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-radius: $rl-app-desktop-br-sm;
        outline: none;
        border: none;
        transition: all 250ms ease-in-out;

        input {
          background-color: var(--bg-solid-input-1);
          color: var(--color-solid-input-1);
          text-transform: uppercase;
          transition: all 250ms ease-in-out;
          width: 100%;
          min-height: 40px;
          border-radius: $rl-app-desktop-br-sm;
          font-size: $rl-app-desktop-fs-sm;
          border: 1px solid var(--br-solid-input-1);
          outline: none;
          padding: 8px 35px 8px 16px;

          &:focus {
            border: 1px solid var(--br-solid-input-focus-1);
            box-shadow: 3px 3px 6px var(--bs-solid-blue-1);
          }
        }

        .clear-all {
          cursor: pointer;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: $rl-app-desktop-fs-md;
          background-color: var(--bg-solid-input-2);
          color: $rl-app-brown-500;
          box-shadow: 2px 2px 4px var(--bs-solid-blue-1);
        }

        .icon-dropdown {
          cursor: pointer;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border-radius: $rl-app-desktop-br-sm;
          font-size: $rl-app-desktop-fs-md;
          background-color: var(--bg-solid-input-2);
          color: $rl-app-brown-500;
          box-shadow: 2px 2px 4px var(--bs-solid-blue-1);
        }
      }

      .dropdown {
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bg-solid-input-1);
        border: 1px solid var(--br-solid-input-focus-1);
        border-radius: $rl-app-desktop-br-sm;
        margin-top: 4px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 10;
        padding: 0;
        list-style: none;

        li {
          .option {
            padding: 8px 16px;
            cursor: pointer;
            transition: background 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $rl-app-desktop-fs-sm;

            .remove {
              display: none;
            }

            &:hover {
              background-color: var(--bg-solid-dropdown-item-hover-1);
            }

            &.selected {
              background-color: $rl-app-blue-500;
              color: $rl-app-brown-500;

              .remove {
                display: block;
                font-size: $rl-app-desktop-fs-sm;
              }
            }

            &.searched {
              background-color: $rl-app-brown-200;
              color: $rl-app-brown-500;

              &:hover {
                background-color: $rl-app-brown-900;
                color: $rl-app-brown-50;
              }
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--br-solid-input-focus-1);
          }

          .select-group {
            .title-group {
              display: block;
              text-align: center;
              width: 100%;
              background-color: $rl-app-blue-600;
              color: $rl-app-brown-500;
              padding: 8px 16px;
              text-transform: uppercase;
              font-size: $rl-app-desktop-fs-xxs;
              font-weight: bold;
            }

            .option-group {
              padding: 8px 16px;
              cursor: pointer;
              transition: background 0.3s;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: $rl-app-desktop-fs-sm;

              &:not(:last-child) {
                border-bottom: 1px solid var(--br-solid-input-focus-1);
              }

              .remove {
                display: none;
              }

              &:hover {
                background-color: var(--bg-solid-dropdown-item-hover-1);
              }

              &.selected {
                background-color: $rl-app-blue-500;
                color: $rl-app-brown-500;

                .remove {
                  display: block;
                  font-size: $rl-app-desktop-fs-sm;
                }
              }

              &.searched {
                background-color: $rl-app-brown-200;
                color: $rl-app-brown-500;

                &:hover {
                  background-color: $rl-app-brown-900;
                }
              }
            }
          }
        }

        .not-found-results {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 16px;
          font-size: $rl-app-desktop-fs-sm;
        }
      }
    }
  }
}

.accordion {
  &__item {
    border-radius: 5px;
    overflow: hidden;
  }

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: space-between;
    align-items: center;

    .material-icons {
      font-size: $rl-app-desktop-fs-h2;
      color: var(--color-solid-brown-4);
      font-weight: bold;
      transition: transform 300ms ease-in-out;
    }
  }

  &__input:checked + &__label {
    .material-icons {
      transform: rotate(-180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease 0.2s;
    opacity: 0;
    padding: 0;
  }

  &__input:checked + &__label + &__content {
    max-height: 10000px;
    opacity: 1;
    padding: 20px 0;
    transition: max-height 0.5s ease, opacity 0.5s ease 0.2s;
  }
}


.badge-xs {
  background-color: $rl-app-blue-500;
  border-radius: 20px 100px 100px 20px;
  display: flex;
  width: min-content;
  border: 2px solid $rl-app-blue-500;
  font-size: 8px;
  text-wrap: nowrap;

  img {
    min-width: 12px;
    margin-left: 2px;
  }

  .badge-title {
    padding: 2px 4px;
    color: $rl-app-white;
    font-weight: bold;
  }

  .badge-version {
    padding: 2px 4px;
    background-color: $rl-app-white;
    color: $rl-app-blue-500;
    font-weight: bold;
    border-radius: 4px 100px 100px 4px;
  }
}

section {
  &.section {
    padding: 2rem 5rem;
  }
}

.btn {
  padding: 6px 10px;
  background: transparent;
  font-size: $rl-app-desktop-fs-md;
  border: 1px solid var(--br-solid-btn-1);
  border-radius: $rl-app-desktop-br-sm;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: var(--color-solid-btn-1);

  &--xs {
    font-size: $rl-app-desktop-fs-xs;
    padding: 4px 8px;
  }

  &--sm {
    font-size: $rl-app-desktop-fs-sm;
    padding: 8px 12px;
  }

  &--lg {
    font-size: $rl-app-desktop-fs-lg;
    padding: 12px 16px;
  }

  &--xl {
    font-size: $rl-app-desktop-fs-xl;
    padding: 16px 20px;
  }

  &:hover {
    border-color: var(--br-solid-btn-focus-1);
    color: var(--color-solid-btn-focus-1);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      color: var(--color-solid-btn-1);
      border: 1px solid var(--br-solid-btn-1);
    }
  }
}

.options-zoom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $rl-app-grey-50;
    color: $rl-app-blue-500;
    width: 100px;
    height: 35px;
    border-radius: $rl-app-desktop-br-sm;
    font-weight: 600;
  }

  .btn-action {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: $rl-app-blue-500;
    color: $rl-app-brown-500;
    border-radius: $rl-app-desktop-br-sm;
    cursor: pointer;
  }
}

.zoom-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;

  .zoom-image {
    height: 100%;
    transition: transform 300ms ease;
  }

  .zoom-lens {
    position: absolute;
    border-radius: 50%;
    background: $rl-app-white-10;
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  section {
    &.section {
      padding: 1rem 2rem;
    }
  }

  .form-filters {
    flex-direction: column;

    .form-filter {
      width: 100%;

      .form-input {
        font-size: $rl-app-desktop-fs-xs;
      }

      .dropdown-container {
        .input-box {
          input {
            font-size: $rl-app-desktop-fs-xs;
          }
        }

        .dropdown {
          li {
            .option {
              font-size: $rl-app-desktop-fs-xs;

              &.selected {
                .remove {
                  display: block;
                  font-size: $rl-app-desktop-fs-xs;
                }
              }
            }

            .select-group {
              .option-group {
                font-size: $rl-app-desktop-fs-xs;

                &.selected {
                  .remove {
                    display: block;
                    font-size: $rl-app-desktop-fs-xs;
                  }
                }
              }
            }
          }

          .not-found-results {
            font-size: $rl-app-desktop-fs-xs;
          }
        }
      }
    }
  }

  @for $i from 2 through 5 {
    .mb-#{$i} {
      margin-bottom: #{calc(calc($i / 2))}rem;
    }
    .mt-#{$i} {
      margin-top: #{calc($i / 2)}rem;
    }
    .ml-#{$i} {
      margin-left: #{calc($i / 2)}rem;
    }
    .mr-#{$i} {
      margin-right: #{calc($i / 2)}rem;
    }
  }

  .zoom-image-click {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  section {
    &.section {
      padding: 1rem 2rem;
    }
  }
}